# IDE
.idea/

# Project Build
build/

# Webpack
webpack-assets.json
webpack-stats.json

# Npm Related
npm-debug.log*
node_modules/

# Operating System
*.DS_Store

# Typescript SCSS Module Declarations
*.scss.d.ts
